application/config/database.php
application/config/config.php
user_guide/
docs/
.DS_Store
Thumbs.db
.vscode/
.idea/
nbproject/
*.sublime-workspace
*.sublime-project
uploads/
assets/uploads/
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
vendor/
composer.lock